{% extends 'todolist.html' %}

{% block navbutton %}
    <a href="{% url 'todo_list' %}"><button type="button">← Back to homepage</button></a>
{% endblock %}

{% block title %}Notes{% endblock %}

{% block form %}
<form action="{% url 'notes' %}" method="POST">
    {% csrf_token %}
    {{ note_form }}
    <input type="submit" name="create" value="Create" />
    <input type="submit" name="delete" value="Delete" />
</form>
{% endblock %}
{% block content %}
<h3>Click a note to delete:</h3>
<ul>
    {% for note in note_list %}
    <li><a href="#" onclick="(({{event}}) =>
        document.querySelector('form').children[2].value = event.target.innerText
        )()">{{ note.text }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
